

.container {
  width: 100%;
  margin-left: .5rem;
}

.timeline-item {
  padding: 3em 2em 2em 1.5rem;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1.5rem;
  display: block;
  font-weight: 700;
  font-size: 0.785rem;
  color: var(--comment);
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1.5rem;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:last-child {
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

.timeline-item h1{
    font-size: 1.5rem;
}
.timeline-item p {
    font-size: 1rem;
}

.timeline-item:first-child {
    border-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 80%, rgba(111, 255, 0, 0)) 1 100%;
  }