
.skill-progress h1 {
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.skill-progress h1:first-child{
  margin-top: 0;
}

.skill-progress {
  width: 100%;
}

.skill-progress .bar {
  background-color: var(--line);
  height: 10px;
  border-radius: 100rem;
  width: 100%;
  margin-bottom: 15px;
}

.bar .bar-status {
  background-color: #7721fd;
  background-image: linear-gradient(19deg, #7721fd 0%, #b721ff 100%);
  height: 100%;
  border-radius: 1rem;
  margin-top: 2px;
}

.bar:last-child {
  margin-bottom: 0;
}

.skill-progress span {
  font-size: 1.5rem;
  align-self: center;
  font-weight: normal;
}

.skill-progress span::before{
  content: " • ";
}

.bar-status.html {
  width: 100%;
}
.bar-status.css {
  width: 95%;
}
.bar-status.js {
  width: 60%;
}
.bar-status.c {
  width: 55%;
}
.bar-status.py {
  width: 45%;
}
.bar-status.sql {
  width: 40%;
}
.bar-status.php {
  width: 50%;
}

@media screen and (max-width: 900px) {
  main {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {

  .skill-progress h1 {
    font-size: 1.2rem;
  }
  .skill-progress span {
    font-size: 1.2rem;
  }
  
}


@keyframes progress {
  from {
      width: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .bar-status-animation {
    animation: progress 2s cubic-bezier(0.25, 1, 0.5, 1) 0s 1 normal none;
  }
}