@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Prompt:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/*
font-family: "Inter", sans-serif;
font-family: "JetBrains Mono", monospace;
*/
:root{
  --roxo-forte: #6f11e7;
  --roxo-1300: #d47aff;
  --roxo-1200: #cd64ff;
  --roxo-1100: #c54dff;
  --roxo-1000: #be37ff;
  --roxo-900: #b721ff;
  --roxo-800: #a51ee6;
  --roxo-700: #921acc;
  --roxo-600: #8017b3;
  --roxo-500: #6e1499;
  --roxo-400: #5c1180;
  --roxo-300: #490d66;
  --roxo-200: #370a4c;
  --roxo-100: #250733;
  --roxo-000: #120319;
  --roxo-500: #24044d;
  --roxo-400: #36165e;
  --roxo-300: #563186;
  --roxo-200: #7952aa;
  --roxo-100: #9768d3;
  --neutro-1700: #ffffff;
  --neutro-1600: #e6e6e6;
  --neutro-1500: #cccccc;
  --neutro-1400: #999999;
  --neutro-1300: #808080;
  --neutro-1200: #666666;
  --neutro-1100: #4c4c4c;
  --neutro-1000: #333333;
  --neutro-900: #171717;
  --neutro-800: #151515;
  --neutro-700: #121212;
  --neutro-600: #101010;
  --neutro-500: #0d0d0d;
  --neutro-400: #0a0a0a;
  --neutro-300: #080808;
  --neutro-200: #050505;
  --neutro-100: #030303;
  --neutro-000: #000000;
}

body {
  background-color: var(--neutro-300);
  display: flex;
  justify-content: center;
  color: var(--neutro-1700);
}

* {
  font-family: "Source Code Pro", monospace;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--neutro-1700);
}

/* --------------- CSS JÁ PRONTOS --------------- */

.border-radius {
  border-radius: 13px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.comment {
  color: var(--neutro-1200);
}

.grey-hover {
  transition: all 0.15s ease-in-out;
}

.grey-hover:hover {
  color: rgb(175, 175, 175);
}

.grey-text {
  color: var(--neutro-1000);
}

/* ------------- FIM CSS JÁ PRONTOS ------------- */

main {
  width: 100%;
  max-width: 850px;
  flex-wrap: wrap;
}

.line {
  width: 100%;
  background-color: var(--neutro-1000);
  height: 1px;
}

section .comment.title {
  margin-bottom: 25px;
  font-weight: 400;
}

section{
  padding: .5rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

@media screen and (max-width: 600px){

}

