:root{
  --roxo-300: #7d29e9;
  --roxo-200: #8c41ec;
}

.sobre{
    margin-bottom: 15px !important;
}

.about p:nth-child(3){
    margin-top: 15px;
}

a > button{
  margin: 1.5rem 0 0 0;
}

button {
    font-size: 1.3rem;
    padding: 0;
    color: #e1e1e1;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button:focus,
  button:hover {
    color: var(--roxo-200);
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -3px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--roxo-200);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }